export DEBUG=True
export NEUSLER_ALLOWED_HOSTS="*"
export NEUSLER_ENVIRONMENT="development"
export NEUSLER_DATABASE_URL="postgres://test_user:test_password@localhost:5432/neuslerdb"

export NEUSLER_REDIS_HOST="localhost"
export NEUSLER_REDIS_PORT="6379"

export NEUSLER_ENABLE_ELASTICSEARCH=False
export NEUSLER_ELASTIC_SEARCH="http://localhost:9200"

export NEUSLER_ENABLE_SMTP=False

export NEUSLER_ENABLE_CLOUDFLARE=False
export NEUSLER_CLOUDFLARE_BEARER_TOKEN="abcd"
export NEUSLER_CLOUDFLARE_ZONEID="abcd"

export NEUSLER_LOGLEVEL="info"

export NEUSLER_ENABLE_EXT_STORAGE=False
export NEUSLER_STATIC_ACCESS_KEY_ID="AK.."
export NEUSLER_STATIC_SECRET_KEY="abcd"
export NEUSLER_STATIC_BUCKET_NAME="neusler-stage"

# To be used in Production
export NEUSLER_DB_NAME=dbname
export NEUSLER_DB_USER=user
export NEUSLER_DB_PASSWORD=password
export NEUSLER_DB_HOST=dbhost
export NEUSLER_DB_PORT=5432

export GOOGLE_APPLICATION_CREDENTIALS="/path/to/google-service-account.json"