{% extends 'neuaccounts/layouts/base.html' %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% wagtail_site as current_site %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="login first grey mt-4">
    <div class="container">
        <div class="box-wrapper">
            <div class="box box-border">
                <div class="box-body">
                    <h4>{% trans "Change Password" %}</h4>

                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
