{% extends 'neuaccounts/layouts/base.html' %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% wagtail_site as current_site %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="login first grey mt-4">
    <div class="container">
        <div class="box-wrapper">
            <div class="box box-border">
                <div class="box-body">
                    <h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h4>

                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    {% if token_fail %}

                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

                    {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class='btn btn-primary btn-block' name="action"
                            value="{% trans 'Change Password' %}" />
                    </form>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
