{% extends 'neuaccounts/layouts/base.html' %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% wagtail_site as current_site %}

{% block title %}{% trans "Update Profile" %}{% endblock %}

{% block content %}
<section class="login first grey mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <h1>Update Profile</h1>
                <form class="login" method="POST" action="{% url 'account_profile' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <div class="form-group text-right">
                        <button type='submit' class="btn btn-primary">{% trans "Save" %}</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>
{% endblock content %}
