{% extends 'neucms/base.html' %}

{% load static %}
{% load cms_tags %}

{% load i18n wagtailcore_tags wagtailimages_tags widget_tweaks comments comments_xtd static %}

{% block body_class %}template-articlepage{% endblock %}

{% block extra_head %}
{% include "wagtailseo/meta.html" %}
{% endblock  %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "vendor/glider/glider.min.css" %}" />
<link rel="stylesheet" href="{% static "vendor/grid-gallery/grid-gallery.min.css" %}">
{% endblock extra_css %}
{% block extra_js %}
{% include "neucms/article_page_js.html" %}
{% endblock extra_js %}

{% block content %}
{% include "wagtailseo/struct_data.html" %}
<section class="single home">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <article class="article main-article">
                    <header>
                        <h1>{{ page.title }}</h1>
                        <ul class="details">
                            <li>Posted on {{ page.last_published_at }}</li>
                            <li><a href="{{ page.specific.category.url }}">{{ page.specific.category_title }}</a></li>
                            <li>By <span>{{ page.author_name }}</span></li>
                        </ul>

                    </header>
                    <div class="main">
                        <div class='article-summary'>
                            {{ page.summary|richtext }}
                        </div>
                        <div class="featured">
                            {% if page.specific.image %}
                            <figure>
                                {% image page.specific.image fill-1200x900 format-webp as webp_img %}
                                {% image page.specific.image fill-1200x900 as img %}
                                <picture>
                                    <source srcset="{{ webp_img.url }}" type="image/webp">
                                    <img src="{{ img.url }}" alt="">
                                </picture>
                            </figure>
                            {% endif %}
                        </div>
                        {% if page.body %}
                        {%  include "neucms/streamfield.html" %}
                        {% endif %}
                    </div>
                    <footer>
                        <div class="col">
                            {% if page.tags %}
                            <ul class="tags">
                                {% for tag in page.tags.all %}
                                <li><a href="{% get_tag_link tag.name %}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="col">
                            <a href="#" id="like" class="like love"><i class="ion-android-favorite-outline"></i>
                                <div class="like-count">{{ page.liked_users.count }}</div>
                            </a>
                        </div>
                    </footer>
                </article>
                {% if page.author %}
                <div class="line">
                    <div>Author</div>
                </div>

                {% include "neucms/author_card.html" with author=page.author %}
                {% endif %}


                <div class="line mt-5">
                    <div>Comments</div>
                </div>
                <div class="mt-4 comment-forms">
                    {% render_comment_form for page %}
                </div>

                {% get_comment_count for page as comment_count %}
                {% if comment_count %}
                <hr>
                <div class="mt-4 media-list">
                    {% render_xtdcomment_tree for page allow_flagging allow_feedback show_feedback %}
                </div>
                {% endif %}

            </div>

            <div class="col-12 col-md-4 sidebar" id="sidebar">
                {% if recent_articles %}
                <aside>
                    <h1 class="aside-title">Recent Articles</h1>
                    <div class="aside-body">
                        {% get_first recent_articles as latest_article %}
                        <article class="article-fw">
                            <div class="inner">
                                <figure>
                                    <a href="{{ latest_article.url }}">
                                        {% image latest_article.specific.image fill-480x360 %}
                                    </a>
                                </figure>
                                <div class="details">
                                    <h1><a href="{{ latest_article.url }}">{{ latest_article.title }}</a></h1>
                                    <div>
                                        {{ latest_article.summary|richtext }}
                                    </div>
                                    <div class="detail">
                                        <div class="category"><a
                                                href="{{ latest_article.category.url }}">{{ latest_article.specific.category_title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="line"></div>
                        {% except_first recent_articles as other_articles %}

                        {% for article in other_articles %}
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="{{ article.url }}">
                                        {% image article.specific.image fill-80x60 %}
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
                                    <div class="detail">
                                        <div class="category"><a
                                                href="{{ article.category.url }}">{{ article.specific.category_title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </aside>
                {% endif %}


                {% if page.specific.category.category_ad %}
                <aside>
                    {% include "neucms/category_ad.html" with page=page.specific.category.category_ad %}
                </aside>
                {% endif %}


                {% if recent_videos %}
                <aside>
                    <h1 class="aside-title">Recent Videos</h1>
                    <div class="aside-body video-list">
                        {% for video in recent_videos %}

                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="{{ video.url }}">
                                        {% if video.thumbnail_image %}
                                        {% image video.specific.thumbnail_image fill-1000x500 %}
                                        {% else %}
                                        <source srcset="{{ video.thumbnail_url }}" type="image/webp">
                                        <img src="{{ video.thumbnail_url }}" alt="">
                                        {% endif %}

                                    </a>
                                </figure>

                                <div class="padding">
                                    <h1><a href="{{ video.url }}">{{ video.title }}</a></h1>
                                    <div class="detail">
                                        <div class="category"><a
                                                href="{{ video.category.url }}">{{ video.specific.category_title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </aside>
                {% endif %}

            </div>

        </div>
    </div>
</section>


{% endblock %}
