{% extends 'neucms/base.html' %}

{% load static %}

{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block extra_js %}
{% include 'neucms/article_actions_js.html' %}
{% endblock extra_js %}
{% block content %}

<section class="category first" style="padding-top: 219px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-left">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">{{ page.title }}</li>
                        </ol>
                        <h1 class="page-title">{{ page.title }}</h1>
                        <p class="page-subtitle">Showing all posts from <i>{{ page.title }}</i></p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="row">
                    {% for article in articles %}
                    {% include "neucms/article_card.html" with page=article parent="article_index" %}
                    {% endfor %}
                    {% if articles.paginator.num_pages > 1 %}
                    <div class="col-md-12 text-center">
                        <ul class="pagination">
                            {% if articles.has_previous %}
                            <li class="prev"><a href="?page={{ articles.previous_page_number }}"><i
                                        class="ion-ios-arrow-left"></i></a></li>
                            {% endif %}
                            {% for page_num in articles.paginator.page_range %}
                            <li class="{% if page_num == articles.number %} active{% endif %}"><a
                                    href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endfor %}
                            {% if articles.has_next %}
                            <li class="next"><a href="?page={{ articles.next_page_number }}"><i
                                        class="ion-ios-arrow-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 sidebar">
                {% include "neucms/sidebar.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
